<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #f0f8ff;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        h1 {
            color: #4a90e2;
            font-size: 2.5em;
            margin-bottom: 20px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
        a {
            background-color: #ff6f61;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, box-shadow 0.3s;
        }
        a:hover {
            background-color: #ff3b2f;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>

    <h1>Welcome <%= admin.name %></h1>
    <table >
<a href="/admin/dashboard">dashboard</a>
        <tr>
            <td>Email </td>
            <td><%= admin.email %></td>
          </tr>
           <tr>
           <td>Mobile :</td>
            <td><%= admin.mobile %></td>
           </tr>
           <tr>
        

          </table>


  
    <a href="/admin/logout">Logout</a>
</body>
</html>
